.slider-item-doctor{
    height: 200px !important;
    border: 1px solid rgb(205, 204, 204);
    

    .slider-img-doctor{
        width: 100px !important;
        height: 100px !important;
        border-radius: 50%;
        margin: 20px auto !important;
    }
}