.home-header-container{
    height: 80px;
    width: 100%;

    .home-header-content{

        .home-header-content-left{
            
            height: 80px;

            .header-logo{
                
                background: url('../../assets/images/logo.svg') center center no-repeat;
                width: 100%;
                height: 100%;
            }
        }
        .home-header-content-center{

            margin: auto 0;

            .home-header-content-center-bold{
                font-weight: bold;
            }

            .col-3{
                cursor: pointer;
                :hover{
                    color: rgb(32, 175, 175);
                }
            }
        }
        .home-header-content-right{

            margin: auto 0;
            
            .home-header-content-right-icon{
                color: rgb(32, 175, 175);
            }
        }
    }
}

.home-banner{
    background-image: url('../../assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 485px;
    width: 100%;
    margin-bottom: 20px;
    
    .bg-trans{
        background-image: linear-gradient(to top, white, transparent);
    }

    .title-1{
        font-size: 20px;
        color: #fff;
        margin-bottom: 10px;
        padding-top: 30px;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #333;
        text-align: center;
    }
    .title-2{
        font-size: 30px;
        color: #fff;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #333;
        text-align: center;
        font-weight: bold;
    }
    .search{
        width: 400px;
        background-color: #f0c549;
        margin: 0 auto;
        padding: 10px 15px;
        border-radius: 30px;
        

        .search-content{
            

            .input-search{
                width: 80%;
                border: none;
                outline: none;
                background-color: transparent;
                height: 30px;
            }     
        }
    }
    .option{
        display: flex;
        justify-content: space-between;
        margin-top: 200px;

        :hover{
            color: #f0c549;
            cursor: pointer;
        }
        .option-item{
            width: 150px;
            height: 100px;
            padding: 10px;
            border-radius: 20px;
            .option-icon{
                display: flex;
                justify-content: center;
                font-size: 30px;
                margin: 0px auto;
                text-align: center;
                color: #49bce2;

            }
            .option-title{
                width: 100%;
                font-size: 18px;
                text-align: center;
                
            }
        }
    }
}